$blue-01: #1F3F68;
$blue-02: #316099;
$blue-03: #356EAD;
$blue-04: #5A98D0;
$blue-05: #98C3E8;
$white: #fff;
$black-01: #000;
$blue-6-gr: linear-gradient(183.81deg, #42A5F5 -3.62%, #1565C0 88.96%);
$blue-7-gr: linear-gradient(180.99deg, rgba(255, 255, 255, 0) 6.19%, rgba(100, 181, 246, 0.6) 103.09%);
$blue-8-gr: linear-gradient(183.81deg, #98D0FC -3.62%, #3481D7 88.96%);
$blue-9-gr: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
$yellow-gr: linear-gradient(238.37deg, #FFF8E1 0.54%, #FFCC80 88.49%);
$grey-gr: linear-gradient(180.99deg, rgba(255, 255, 255, 0) 6.19%, rgba(0, 0, 0, 0.15) 102.42%);
$red-gr: linear-gradient(180deg, #EB5757 0%, #872727 100%);
$dark-gr: linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%);







