@import "../../assets/scss/colors";
@import "../../assets/scss/mixins";

.navbar {

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 40px 10px;
    animation: fadeIn 2s;
  }

  &__menu {

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
    }

    &-item {
      @include menu-1;
    }

    &-link {
      @include link-1;
    }
  }

  &__sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    &-item {
      color: $blue-01;
      @include text-1;
    }

    &-link {
      @include link-1;
    }

    &-btn {
      @include button-1;
      width: 120px;
      height: 34px;
    }
  }

  &__burger {
    &-btn {
      cursor: pointer;
    }

    &-img {
      width: 22px;
      height: 22px;
    }
  }
}

